html, body {
    font-family: 'Exo', sans-serif;
    margin: 0em;
    padding: 0em;
}

.container, .container-fluid, .col-sm-6{
    margin: 0em;
    padding: 0em;
}

.first-panel, .second-panel, .third-panel, .fourth-panel, .fifth-panel {  
    margin: 0em;
    padding: 0.8em;
}

.centered {
    text-align: center;
    vertical-align: center;
}

#map {
    height: 22em;
    width: 96%;
    margin-top: 0.8em;
    margin-left: auto;
    margin-right: auto;
}

.point {
    padding-top: 1em;
    width: 96%;
    margin-left: auto;
    margin-right: auto;
}

.image-preview {
    height: 2em;
    width: 2em;
}

.anchor-link {
    cursor:pointer;
    color:blue;
    text-decoration:underline;
}

.anchor-link:hover {
    text-decoration:none;
    text-shadow: 1px 1px 1px #555;
}