html, body {
    font-family: 'Exo', sans-serif;
    margin: 0em;
    padding: 0em;
}

.container, .container-fluid, .col-sm-6 {
    margin: 0em;
    padding: 0em;
}

.centered {
    text-align: center;
    vertical-align: center;
}

#map {
    height: 20em;
    width: 96%;
    margin-top: 0.8em;
    margin-left: auto;
    margin-right: auto;
}

#upload-map {
    height: 18em;
    width: 96%;
    margin-top: 0.8em;
    margin-bottom: 0.8em;
    margin-left: auto;
    margin-right: auto;
}

.point {
    padding-top: 1em;
    width: 96%;
    margin-left: auto;
    margin-right: auto;
}

.image-preview {
    height: 10em;
    width: 10em;
}

.carousel-control-prev, .carousel-control-next {
    cursor:pointer;
}

.padding-top {
    padding-top: 1em;
}

.padding-bottom {
    padding-bottom: 1em;
}

.navbar {
    background-color: #191B40;
    margin-bottom: 1em;
}

a.navbar-brand:hoover {
    cursor: pointer;
}

a.nav-link.selected {
    /* No funciona */
    color: rgba(255,255,255,.75);
}


.loader {
    position: absolute;
    left: 50%;
    top: 40%;
    z-index: 1;

    width: 8em;
    height: 8em;
    
    margin-left: -4em;
    margin-top: -4em;

    border: 16px solid #f3f3f3;
    border-top: 16px solid #191B40;
    border-radius: 50%;

    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

